wsdl/weather-soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://tempuri.org/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <!-- WSDL TYPES: definition of the data types that are used in the web service -->
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="WeatherRequestInput">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="location" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="WeatherResponseTemp">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="temp" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="WeatherResponseWind">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="wind-speed" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="1" name="wind-direction" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="WeatherResponseWind">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="7" name="temp" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="7" name="wind-speed" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="7" name="wind-direction" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <!-- MESSAGES: defines the data being exchanged between the service and client -->
    <wsdl:message name="WeatherSoapIn">
        <wsdl:part name="parameters" element="tns:WeatherRequestInput"/>
    </wsdl:message>
    <wsdl:message name="WeatherSoapGetTempOut">
        <wsdl:part name="parameters" element="tns:WeatherResponseTemp"/>
    </wsdl:message>
    <wsdl:message name="WeatherSoapGetWindOut">
        <wsdl:part name="parameters" element="tns:WeatherResponseWind"/>
    </wsdl:message>
    <wsdl:message name="WeatherSoapGetForecastOut">
        <wsdl:part name="parameters" element="tns:WeatherResponseForecast"/>
    </wsdl:message>
    <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
    <wsdl:portType name="WeatherSoapPort">
        <!-- The operation name must be the same as the one specified in the service object -->
        <wsdl:operation name="GetTemp">
            <wsdl:input message="tns:WeatherSoapIn"/>
            <wsdl:output message="tns:WeatherSoapGetTempOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetWind">
            <wsdl:input message="tns:WeatherSoapIn"/>
            <wsdl:output message="tns:WeatherSoapGetWindOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetForcast">
            <wsdl:input message="tns:WeatherSoapIn"/>
            <wsdl:output message="tns:WeatherSoapGetForecastOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
    <wsdl:binding name="WeatherServiceSoapBinding" type="tns:WeatherSoapPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTemp">
            <soap12:operation soapAction="GetTemp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWind">
            <soap12:operation soapAction="GetWind" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetForecast">
            <soap12:operation soapAction="GetForecast" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WeatherServiceSoap12Binding" type="tns:WeatherSoapPort">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTemp">
            <soap12:operation soapAction="GetTemp" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWind">
            <soap12:operation soapAction="GetWind" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetForecast">
            <soap12:operation soapAction="GetForecast" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <!-- SERVICE:  -->
    <wsdl:service name="WeatherService">
        <wsdl:port name="WeatherServiceSoapPort" binding="tns:WeatherServiceSoapBinding">
            <soap:address location="http://localhost:8000/wsdl"/>
        </wsdl:port>
        <wsdl:port name="WeatherServiceSoap12Port" binding="tns:WeatherServiceSoap12Binding">
            <soap12:address location="http://localhost:8000/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>